## Day_003-1_HW

In [2]:
import pandas as pd
import numpy as np

In [3]:
country = ['Taiwan', 'America', 'Tailand', 'Japan', 'China', 'Korea', 'United Kingdom', 'France', 'Greece', 'India']

In [4]:
propotion = np.random.randint(0,100000000, size=10)

In [5]:
labels = ['Country', 'Propotion']

In [6]:
cols = [country, propotion.tolist()]

In [7]:
zipped = list(zip(labels, cols))

In [10]:
visitors = pd.DataFrame(dict(zipped))
print(visitors)

          Country  Propotion
0          Taiwan   50831812
1         America   78492695
2         Tailand   65067100
3           Japan   68143402
4           China   12902182
5           Korea   84738047
6  United Kingdom   69519171
7          France   38654883
8          Greece   53123864
9           India   69851088

In [11]:
visitors.mean()

Propotion    59132424.4
dtype: float64

In [14]:
visitors.sort_values(by= 'Propotion', ascending= 0)

          Country  Propotion
5           Korea   84738047
1         America   78492695
9           India   69851088
6  United Kingdom   69519171
3           Japan   68143402
2         Tailand   65067100
8          Greece   53123864
0          Taiwan   50831812
7          France   38654883
4           China   12902182

<br>
## Day_003-2_HW